body {
    font-family: 'Poppins', sans-serif;
    background-color: #D3D3D3;
}

/*Headers*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
/*-------------------------------------------------------Nav*/
.navbar-brand {
    background: url(http://i67.tinypic.com/5o8nfb.jpg) center / contain no-repeat;
    width: 200px;
    position: center;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
        border: 0;
}
.navbar-default .navbar-toggle {
    border: 0;
    }

.navbar-default .navbar-toggle .icon-bar {
    color: #00BFFF;
}
/*-------------------------End of Header/Nav*/

/*-------------------------------------------------------Footer*/
.footer-bounceback {
    background-color: #FFFFFF;
    margin-top: 12.5px;
}

.social-links {
    font-size: 25px;
}

.facebook {
    color: #3b5998;
}

.instagram {
    color: #c13584;
}

.snapchat {
    color: #fffc00;
}

.twitter {
    color: #1da1f2;
}

.footer-img {
    width:250px;
    height:100px;
}

.fa-envelope{
    color:#00BFFF;
}
/*-------------------------End of Footer*/

/*-------------------------------------------------------index.html*/
/*Alert*/
.alert {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #00BFFF;
    color: #000000;
    border-color: #708090;
}
.pilates-link {
    color: #FFFFFF;
}
/*Callout Container*/
.callout-container {
    height: 50vh;

    background: url("https://images.pexels.com/photos/1020323/pexels-photo-1020323.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1E90FF;
    border-color: #90949c;
}

.btn-primary {
    color: #fff;
    background-color: #00BFFF;
    border-color: #90949c;
}
/*End*/

/*Appointment Modal*/
.calendar-icon {
    color: #00BFFF;
    font-size: 80px;
}

.wrapper-callback{
    background-color: #00BFFF;
    flex: 1;
    padding: 1rem;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.wrapper-appointment{
    background-color: #A9A9A9;
    flex: 1;
    padding: 1rem;
    padding-top: 22.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
}


.modal {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  }

.modal-apt{
    text-align: center;
}

.physio-apt {
    
}

.online-apt {
 color: #fff;
 background-color: #00BFFF; 
 font-weight:300;
 font-size: 20px;
 border-color: #90949c;
}
/*End*/

.social-media-left {
    float: left;
    width: 100%;
    margin-right: 2px;
    margin-left: 2px;

}

.social-media-right {
    float: left;
    background-color: #C0C0C0;
}

.quotes {
    background-color: #00BFFF;
    color: #FFFFFF;
}

.content-container {
    background-color: #D3D3D3;
}

.left-half {
    background-color: #00BFFF;
    flex: 1;
    padding: 1rem;
    width: 100%;
}

.right-half {
    flex: 1;
    padding: 1rem;
    width: 100%;
}



/*-------------------------End of index.html*/
/*-------------------------------------------------------pilates.html*/

/*-------------------------End of pilates.html*/

/*-------------------------------------------------------About.html*/
/*Louise's Timeline*/
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #FAFAFA;
    border-left: 1px solid;
    margin-left: 5px;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.bg-color-work-history {
   background-color: #00BFFF;
   }

.history-heading {
    color: #fafafa;
    font-size: 30px;
    margin: 20px;
    }

.work-history{
    margin-bottom: 15px;
}

.section-column {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
}
.about-header{
    color:#00BFFF;
    font-weight: 600;
    font-size: 32px;
}
.about-business {
    background-color: #FAFAFA;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}
.about-louise {
    background-color: #FAFAFA;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    width: 95%;
}
.about-louise p {
    width: 100%;
    }
.history {
  margin: 10px 10px 10px 10px;  
}
.section-heading {
  color:#00BFFF; 
  font-size: 30px;
  margin: 20px;
}
/*End*/
/*-------------------------End of*/

/*-------------------------------------------------------*/

/*End of*/
.navbar {
    background-color: #FFFFFF;
}


.appointment-form {
    background-color: #00BFFF;
    border-color: #708090;
    border-style: groove;
}


/*Facebook Plugin*/
element.style {
    min-width: 100%;
    width: 100%;
    height: 100%;
}

/*Wrapper*/
.container-wrapper-blue {
    background-color: #00BFFF;
    padding: 0px;
    }
    
.container-wrapper-grey {
    background-color: #D3D3D3;
    padding: 0px
}



.features-container {
    padding-bottom: 10px;
}



